
 

.header
    {align-items: center;
        background-color:red;
        width: 100%;
        display: flex;
        justify-content: center;
        font-size: 30px;
        flex: 2;
        height: 300px;
        padding:5px;
        margin: 2px;
        
    }


    .cuadro {
        justify-content: center;
        width: 200px;
        height: 200px;
        background: red;
        margin-left: 45%;
        margin-right: 30%;
        margin: top 20px;
        transition: transform 0.8s;
    }

.cuadro:hover{  

    width: 200px;
      height: 200px;
      background: black;
      border-radius: 50%;
      
    
}

